.vscode
src/django_board/__pycache__/
src/django_board/__pycache__/settings.cpython-37.pyc
src/django_board/__pycache__/urls.cpython-37.pyc
src/django_board/__pycache__/views.cpython-37.pyc
src/django_board/__pycache__/views.cpython-37.pyc
src/django_board/__pycache__/settings.cpython-37.pyc
src/django_board/__pycache__/urls.cpython-37.pyc
