

<div class="col-12 col-md-10 mb-3 mx-auto">
    <div class="card {% if not blog_post.publish_date  %} border border-warning {% endif %}">
        <div class="card-body">
            {% if not detail%}
            <a href='{{ blog_post.get_absolute_url }}' style="color: rgb(119, 119, 119);">
                <h5 class="card-title">{{ blog_post.title }}</h5>
            </a>
            
                {% if not blog_post.publish_date  %}
                    <p style="color: red;">Draft</p>
                {% endif %}
                
            {% else %}
                <h5 class="card-title">{{ blog_post.title }}</h5>
            {% endif %}
            <p class="card-text">
                <small class="text-muted">{{ blog_post.publish_date }}</small>
                {% if truncate %}
                    {{ blog_post.content|linebreaks|truncatewords:30 }}
                {% else %}
                    {{ blog_post.content|linebreaks }}
                {% endif %}    
            </p>
        </div>
    </div>
</div>